.wrapper1 {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  background: #1fa2ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #a6ffcb,
    #12d8fa,
    #1fa2ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #a6ffcb,
    #12d8fa,
    #1fa2ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.form-comp {
  margin-top: 15vh;
  margin-right: -25vh;
}
img {
  margin-top: 5vh;
  margin-left: 6vh;
}

.container {
}
