textarea {
  width: 35%;
}

textarea.input-fields {
  padding-top: 0.5rem;
}

.submit,
.form-status {
  text-align: center;
}

.form-status {
  font-weight: bold;
}

.form-group {
  max-width: 500px;
}

h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.input-fields {
  border-radius: 15px;
  padding: 1.3rem;
  padding-left: 1.1rem;
  background-color: #f6f6f6;
}

.input-fields:focus {
  background-color: #f6f6f6;
}

.wrapper {
  width: 60vh;
}

button {
  border-radius: 20px;
  padding: 0.6rem;
  font-size: 20px;
  color: white;
  width: 10rem;
  background-color: #1fa2ff;
  cursor: pointer;
  margin-top: 1rem;
}

button:focus {
  outline: 0 !important;
}

button:hover {
  background-color: #86ccfd;
}

button:active {
  background-color: #86ccfd;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.error {
  color: red;
}
